
; 请妥善保管您的配置
@ktaro:registry=https://ktsoft-npm.pkg.coding.net/frontpackage/ktaro/
always-auth=true
//ktsoft-npm.pkg.coding.net/frontpackage/ktaro/:username=ejvmwiyfgi
//ktsoft-npm.pkg.coding.net/frontpackage/ktaro/:_password=OTMxMjEyd3pmd2FuLi4u
//ktsoft-npm.pkg.coding.net/frontpackage/ktaro/:email=wangzhifeng@keytop.com.cn

; 请妥善保管您的配置
@ktlib:registry=https://ktsoft-npm.pkg.coding.net/frontpackage/ktlib/
always-auth=true
//ktsoft-npm.pkg.coding.net/frontpackage/ktlib/:username=ejvmwiyfgi
//ktsoft-npm.pkg.coding.net/frontpackage/ktlib/:_password=OTMxMjEyd3pmd2FuLi4u
//ktsoft-npm.pkg.coding.net/frontpackage/ktlib/:email=wangzhifeng@keytop.com.cn